<template name="eventReplication">
	<div class="details-form event-replicate">
		<div class="row gap-3">
			<div class="col-md">
				<nav>
					<ul class="nav nav-tabs replica-nav-tabs">
						<li role="presentation" class="active">
							<a href="#frequency" data-toggle="tab">
								<span class="fa fa-list fa-fw" aria-hidden="true"></span>
								{{i18n 'event.replication.changeToPattern' 'Select frequency'}}
							</a>
						</li>
						<li role="presentation">
							<a href="#datepicker" data-toggle="tab">
								<span class="fa fa-calendar-check-o fa-fw"
									  aria-hidden="true"></span>
								{{i18n 'event.replication.changeToPicker' 'Pick dates'}}
							</a>
						</li>
					</ul>
				</nav>
				<div class="tab-content replica-tab-content">
					<div class="tab-pane" id="datepicker">
						<div class="js-replicate-datepick"></div>
					</div>
					<div class="tab-pane mb-3 active" id="frequency">
						<label class="form-label" for="replicateStart">
							{{i18n 'event.replication.interval.start' 'Interval Start'}}
						</label>
						<div class="input-group">
							<span class="input-group-text">
								<span class="fa fa-calendar fa-fw" aria-hidden="true"></span>
							</span>
							<input type="text"
								   class="form-control js-replicate-date js-update-replicas"
								   id="replicateStart" size="8" value="{{replicaStart}}">
							<span class="replica-date-weekday">{{replicateStartDay}}</span>
						</div>
						<label class="form-label" for="replicateEnd">
							{{i18n 'event.replication.interval.end' 'Interval End'}}
						</label>
						<div class="input-group">
							<span class="input-group-text">
								<span class="fa fa-calendar fa-fw" aria-hidden="true"></span>
							</span>
							<input type="text"
								   class="form-control js-replicate-date js-update-replicas"
								   id="replicateEnd" size="8" value="{{replicaEnd}}">
							<span class="replica-date-weekday">{{replicateEndDay}}</span>
						</div>
						<label class="form-label" for="replicateFrequency">
							{{i18n 'event.replication.repeat' 'Repeat'}}
						</label>
						<div class="form-check">
							<input class="form-check-input js-replicate-frequency js-update-replicas"
								   type="radio" name="replicateFrequency"
								   id="replicateFrequencyOnce" value="once">
							<label class="form-check-label" for="replicateFrequencyOnce">
								{{i18n 'event.replication.freq.once' 'once'}}
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input js-replicate-frequency js-update-replicas"
								   type="radio" name="replicateFrequency"
								   id="replicateFrequencyDaily" value="daily">
							<label class="form-check-label" for="replicateFrequencyDaily">
								{{i18n 'event.replication.freq.daily' 'every day'}}
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input js-replicate-frequency js-update-replicas"
								   type="radio" name="replicateFrequency"
								   id="replicateFrequencyWeekly" value="weekly" checked>
							<label class="form-check-label" for="replicateFrequencyWeekly">
								{{i18n 'event.replication.freq.weekly' 'once a week'}}
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input js-replicate-frequency js-update-replicas"
								   type="radio" name="replicateFrequency"
								   id="replicateFrequencyBiWeekly" value="biWeekly">
							<label class="form-check-label" for="replicateFrequencyBiWeekly">
								{{i18n 'event.replication.freq.biWeekly' 'every 2 weeks'}}
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md">
				{{#if replicaDateCount}}
					<label class="form-label">
						{{i18n 'event.replication.createText' 'Create {COUNT, plural, one{a copy on this date} other{# copies on this dates} }' COUNT=replicaDateCount}}
					</label>
					<div class="replica-event-captions">
						{{#each replicaDates}}
							<div class="event-caption" title="{{dateTimeLong this}}">
								<div class="event-caption-header-wrap">
									<div class="event-caption-header">
										<span class="fa fa-map-pin"></span>
										{{weekdayFormat this}}
										<div class="event-caption-pseudoborder"></div>
									</div>
								</div>
								<div class="event-caption-body-wrap">
									<div class="event-caption-body">
										{{dateShort this}}
									</div>
								</div>
							</div>
						{{/each}}
					</div>
				{{else}}
					<label
						   class="form-label">{{i18n 'event.replication.noDates' 'No date(s) selected'}}</label>
					<div class="replica-event-captions">
						<div class="event-caption placeholder">
							<div class="event-caption-header-wrap">
								<div class="event-caption-header">
									<span class="fa fa-map-pin"></span>
									<div class="event-caption-pseudoborder"></div>
								</div>
							</div>
							<div class="event-caption-body-wrap">
								<div class="event-caption-body">
									{{dateShort this.start}}
								</div>
							</div>
						</div>
					</div>
				{{/if}}
			</div>
		</div>
		<div class="replicate-actions">
			{{#if replicaDateCount}}
				{{> buttonSave event='js-replicate-btn'}}
			{{/if}}
			{{> buttonCancel event='js-cancel-replication'}}
		</div>
	</div>
</template>
