<template name="frameCourselistPage">
	<style type="text/css">
		/* beautify ignore:start */
		{{#each cssRule in cssRules}}
			{{cssRule}}
		{{/each}}
		/* beautify ignore:end */

	</style>

	{{#each course in courses}}
		{{> frameCourselistCourse course=course hideInterested=hideInterested}}
	{{/each}}
	{{#unless ready}}
		{{> loadingRow}}
	{{/unless}}
	{{#if moreCourses}}
		<div class="show-more">
			<button class="js-show-more-courses btn btn-secondary" type="button">
				{{i18n 'frame.courselist.showMore' 'Show more courses'}}
			</button>
		</div>
	{{/if}}
</template>

<template name="frameCourselistCourse">
	<div class="frame-list-item">
		<h4 class="frame-list-item-header js-toggle-course-details">
			<span class="frame-list-item-toggle-indicator">
				<i class="fa fa-angle-down"></i>
			</span>
			{{#unless hideInterested}}
				<span class="frame-list-item-interested"
					  title="{{i18n 'frame.courseList.interestedPersons' 'Interested persons'}}">
					<i class="fa fa-fw fa-user"></i>
					{{interestedPersons course}}
				</span>
			{{/unless}}
			{{course.name}}
			{{#if allRegions}}
				<span class="badge bg-secondary frame-list-item-region">
					{{regionOf course}}
				</span>
			{{/if}}
		</h4>
		{{#if expanded}}
			<div class="frame-list-item-body">
				<div class="frame-list-item-property frame-list-item-description">
					<div class="frame-list-item-label">
						{{i18n 'frame.eventsList.description'}}
					</div>
					<div class="frame-list-item-content">
						{{{course.description}}}
					</div>
				</div>
				<div class="frame-list-item-links">
					<a class="btn" href="{{pathFor 'showCourse' data=course}}" target="_blank">
						{{i18n 'frame.courseList.moreAboutThisCourse' 'More about this course on {SITENAME}' SITENAME=siteName}}
					</a>
				</div>
			</div>
		{{/if}}
	</div>
</template>
