<template name="regionDisplay">
	<div class="page-component">
		<div class="details-header region-details-header">
			<h3>{{region.name}}</h3>
		</div>

		<div class="details-body region-details-body">
			<div class="details-content">
				{{#if region.loc}}
					<div class="details-map">
						{{> map markers=markers maxZoom=16}}
						<div class="coordinates">
							{{i18n 'regionDetails.coordinates' 'Coordinates:'}}
							{{locationDisplay region.loc}}
						</div>
					</div>
				{{/if}}
				{{#if region.tz}}
					<p>
						<span class="region-property-title">
							{{i18n 'regionDetails.timezone' 'Timezone:'}}
						</span>
						{{region.tz}}
					</p>
				{{/if}}
			</div>
		</div>
		{{#if mayEdit}}
			<div class="actions">
				{{> buttonEdit event="js-region-edit"}}
				{{#unless verifyDelete}}
					{{> buttonDelete event="js-region-delete"}}
				{{/unless}}
			</div>
			{{#if verifyDelete}}
				{{> regionDeleteConfirmDialog}}
			{{/if}}
		{{/if}}
	</div>
</template>

<template name="regionDeleteConfirmDialog">
	<div class="region-delete-confirmation">
		<p>{{i18n 'region.reallydelete' 'Please confirm that you would like to delete this region with all courses, events and venues. This cannot be undone.'}}
		</p>
		<div class="form-actions">
			{{> buttonDeleteConfirm
				event="js-region-delete-confirm"
				textIdle=(i18n 'region.detail.remove' 'Remove this region')
				textBusy=(i18n 'region.detail.remove.busy' 'Deleting region...')
			}}
			{{> buttonCancel event="js-region-delete-cancel"}}
		</div>
	</div>
</template>
