{{#emailBase subject=subject site=site}}
	<tr>
		<td>
			<span class="title">
				{{i18n "notification.event.mail.greeting" "Hi {USERNAME}" USERNAME=username lng=locale}}
			</span>
			<p>
				{{#if new}}
					{{i18n 'notification.event.mail.new' 'A new event was just published for course {COURSE}:' COURSE=course lng=locale}}
				{{else}}
					{{i18n 'notification.event.mail.changed' 'The following event for course {COURSE} changed:' COURSE=course lng=locale}}
				{{/if}}
			</p>
			{{#if additionalMessage}}
				<p>
					{{i18n "notification.event.mail.personalMessage" 'The organizer left a message for you:' lng=locale}}
				</p>
				<table class="comment-box">
					<tr>
						<td>
							{{additionalMessage}}
						</td>
					</tr>
				</table>
			{{/if}}

			<table style="margin: 2em auto; width: 92%;">
				<tr>
					<td bgcolor="#c1f2ae" style="padding: 15px;">
						<a href="{{eventLink}}"
						   style="color: #333 !important; text-decoration: none !important;">
							<strong>
								{{eventDate}}
								<br />
								{{eventStart}}
								{{#if eventEnd}}
									- {{eventEnd}}
								{{/if}}
							</strong>
							{{#if venueLine}}
								<br />
								{{venueLine}}
							{{/if}}
						</a>
					</td>
				</tr>
				<tr>
					<td height="2px" style="font-size: 2px;">
					</td>
				</tr>
				<tr>
					<td bgcolor="#d9eaf2" style="padding: 15px;">
						<p style="font-size: 14px; font-weight: bold;">
							{{event.title}}
						</p>
						<p style="font-weight: bold;">
							{{i18n "notification.event.mail.titleDescription" "Description" lng=locale}}
						</p>
						<p>
							{{{event.description}}}
						</p>
					</td>
				</tr>
				<tr>
					<td width="350" style="padding: 5px; text-align:right;">
						<a href="{{calLink}}"
						   style="color: #00f !important; text-decoration: none !important;">
							{{i18n "notification.event.mail.linkCalendar" "Add this event to my calendar" lng=locale}}
						</a>
						<br />
					</td>
				</tr>
			</table>
			<p class="gap-md text-center">
				{{i18n "notification.event.mail.informRegisterEvent" "Let us know if you participate in this event:" lng=locale}}
			</p>
			<p class="text-center">
				<a class="button" href="{{registerToEventLink}}">
					{{i18n "notification.event.mail.registerEvent" "Yes, i take part!" lng=locale}}
				</a>
			</p>
			<p class="gap-md text-center">
				{{i18n "notification.event.mail.notinterested" "Not interested anymore?" lng=locale}}
			</p>
			<p class="text-center">
				<a href="{{unsubscribeFromCourseLink}}">
					{{i18n "notification.event.mail.unsubscribe" "Unsubscribe from course" lng=locale}}
				</a>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<table class="footer">
				<tr>
					<td>
						{{i18n 'notification.event.mail.notice' 'You receive this mail because you are involved in the course "{COURSE}".' COURSE=course lng=locale}}
					</td>
				</tr>
				<tr>
					<td>
						<a
						   href="{{unsubLink}}">{{i18n "notification.event.mail.unsubLink" "Unsubscribe from all automated notifications." SITENAME=siteName lng=locale}}</a>
						&nbsp;
						<a
						   href="{{urlFor 'profile' query='campaign=eventNotify'}}">{{i18n "notification.event.mail.profileLink" "Visit your profile" lng=locale}}</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
{{/emailBase}}
