{{#emailBase subject=subject site=site}}
	<tr>
		<td>
			<span class="title">
				{{i18n "notification.event.mail.greeting" USERNAME=username lng=locale}}
			</span>
			<p>
				{{i18n "notification.join.mail.intro" '{USERNAME} just joined course {COURSE} as: {ROLE}.' USERNAME=newParticipant COURSE=course ROLE=roleTitle lng=locale}}
			</p>
			{{#if message}}
				<p>
					{{i18n "notification.join.mail.message" 'They left this message:' lng=locale}}
				</p>
				<table class="comment-box">
					<tr>
						<td>
							{{message}}
						</td>
					</tr>
				</table>
			{{/if}}
			{{#if appendCollaborationHint}}
				<p>
					{{i18n "notification.join.mail.collaborationHint" 'If you like them to collaborate feel free to contact them. If you like to give them the rights to edit the course, you can add them to the organisation team of your course by clicking on the bullhorn next to their name.' lng=locale}}
				</p>
			{{/if}}
			<strong>{{i18n "notification.join.mail.statsOverview" 'Overview over participant in this course:' lng=locale}}</strong>
			<p>
				{{#each figure in figures}}
					{{figure.role}}: {{figure.count}}<br />
				{{/each}}
			</p>
			<p>
				<a
				   href="{{courseLink}}">{{i18n "notification.join.mail.linktext" '➜ View course' lng=locale}}</a>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<table class="footer">
				<tr>
					<td>
						{{i18n "notification.join.mail.recpnote" "You receive this message because you're on the team of this course." lng=locale}}
					</td>
				</tr>
				<tr>
					<td>
						<a
						   href="{{unsubLink}}">{{i18n "notification.join.mail.unsubLink" "Unsubscribe from all automated notifications." SITENAME=siteName lng=locale}}</a>
						&nbsp;
						<a
						   href="{{urlFor 'profile' query='campaign=joinNotify'}}">{{i18n "notification.join.mail.profileLink" "Visit your profile" lng=locale}}</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
{{/emailBase}}
