{{#emailBase subject=subject site=site}}
	<tr>
		<td>
			{{#if senderCopy}}
				<p>
					{{i18n "notification.privateMessage.mail.copyintro" 'This is a copy of your message that was sent to "{RECIPIENT}"' RECIPIENT=recipientName lng=locale}}
				</p>
			{{/if}}
			<span class="title">
				{{i18n "notification.event.mail.greeting" USERNAME=recipientName lng=locale}}
			</span>
			<p>
				{{i18n "notification.privateMessage.mail.intro" 'You got a private message from:' lng=locale}}
				<a href="{{senderLink}}">{{sender.username}}</a>
				{{#if fromAddress}}
					<a href="mailto:{{fromAddress}}">{{fromAddress}}</a>
				{{/if}}
			</p>
			{{#if courseLink}}
				<p>
					{{i18n "notification.privateMessage.mail.fromCourse" 'This message was sent from course:' lng=locale}}
					<a href="{{courseLink}}">{{courseName}}</a>
				</p>
			{{/if}}
			<table class="comment-box">
				<tr>
					<td>
						{{{message}}}
					</td>
				</tr>
			</table>
			<p>
				<a
				   href="{{senderLink}}">{{i18n "notification.privateMessage.mail.linktext" '➜ See profile of "{SENDER}"' SENDER=sender.username lng=locale}}</a>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<table class="footer">
				<tr>
					<td>
						<a
						   href="{{unsubLink}}">{{i18n "notification.privateMessage.mail.unsubLink" "Unsubscribe from all private messages from users." SITENAME=siteName lng=locale}}</a>
						&nbsp;
						<a
						   href="{{urlFor 'profile' query='campaign=privateMessage'}}">{{i18n "notification.privateMessage.mail.profileLink" "Visit your profile" lng=locale}}</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
{{/emailBase}}
