{{#emailBase subject=subject site=site}}
	<tr>
		<td>
			<span class="title">
				{{i18n "verifyEmail.email.gretting" "Hi {NAME}" NAME=username}}
			</span>
			<p>
				{{i18n "verifyEmail.email.introduction" "We're happy that you are part of the {SITE} community." SITE=siteName}}
			</p>
			<p class="gap-md">
				{{i18n "verifyEmail.email.verification" "You can click this link to verify your email address. This helps us knowing you're a real person."}}
			</p>
			<p class="text-center">
				<a class="button" href="{{url}}">
					{{i18n "verifyEmail.email.verifyButton" "Verify email address"}}
				</a>
			</p>
			<p>
				{{i18n "verifyEmail.email.farewell" "If you have any questions or suggestions, please do not hesitate to contact us."}}<br />
				{{i18n "verifyEmail.email.postscript" "Kind regards, your {SITE} team" SITE=siteName}}
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<table class="footer">
				<tr>
					<td>
						{{i18n "verifyEmail.email.unexpected" "If you don't know why you got this mail, ignore it or send us a notification to: {REPORTEMAIL}" REPORTEMAIL=reportEmail}}
						<a
						   href="{{urlFor 'profile'}}">{{i18n "verifyEmail.email.profileLink" "Visit your profile"}}</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
{{/emailBase}}
